<p id="notice"><%= notice %></p>
<% provide :title, 'All words' %>
<h1>Listing Word</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= word.content %></td>
        <td><%= word.category_id %></td>
        <td><%= link_to '', [:admin, word], class: "glyphicon glyphicon-list-alt" %></td>
        <td><%= link_to '', edit_admin_word_path(word), class: "glyphicon glyphicon-edit" %></td>
        <td><%= link_to '', [:admin, word], method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove" %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Word', new_admin_word_path %>
