<% provide(:title, "Category Word") %>

<h1> Category Word</h1>
<table class="table table-responsive category">
	<tbody>
		<% @count = 0%>

		<% @categories.each do |category| %>

			<% @count+=1 %>
			<tr>
				<% if @count%2 == 0 %>
					<td>
						Lession <%= @count %>
					</td>
				<% end %>
				<td class="category-box">

					<p><span class="category-name"><%= category.name%></span></p>


					<span>
						<%= category.description %> 
					</span><br/>
					<start class="col-md-3 col-md-offset-9">
              <%= link_to t("Start"), lessons_path(category_id: category.id), method: :post, class: "btn btn-primary" %>
          </start>
				</td>
				<% if @count%2 == 1 %>
					<td>
						Lession <%= @count %>
					</td>
				<% end %>
			</tr>
		<% end%>
	</tbody>
</table>