<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <%= link_to 'New User', new_admin_user_path, class: "btn btn-primary" %>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to '', [:admin, user], class: "glyphicon glyphicon-list-alt" %></td>
        <td><%= link_to '', edit_admin_user_path(user), class: "glyphicon glyphicon-edit" %></td>
        <td><%= link_to '', [:admin, user], method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


